%section#about.section-padding.white-bg.text-center
  .container.mb-60
    .row.text-center
      .col-md-6.wow.slideInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "1s"}
        %img{:alt => "mockup", :src => asset_path("mockup03.png"), :style => "max-width: 457px; width: 100%;"}/
      .col-md-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
        .spacer-15
        %h6.page-title-alt.color.mb-10 Creative Agency
        %h2.page-title.mb-25
          Mazel
          %span.text-light One
        %p.mb-35 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo reprehenderit qui in dignissim qui blandit ea voluptate velit esse quam suscipit lobortis nisldolore eu feugiat  praesent luptatum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.
        %img{:alt => "signature", :src => asset_path("signature.png")}/
/ End About Section
/ About Section 2
%section#about2.section-padding.text-center.gray-bg
  .container
    .row
      .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
        .icon-top.icon-black
          %i.icon.icon-basic-anchor
        %h5.features-title We’re Creative
        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
      .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
        .icon-top.icon-black
          %i.icon.icon-basic-alarm
        %h5.features-title TWe have magic
        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
      .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
        .icon-top.icon-black
          %i.icon.icon-basic-globe
        %h5.features-title Why we do it
        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
/ End About Section 2