%section#accordian_skills.section-padding.white-bg
  .container.text-center
    %h2.page-title
      Skills
      %span.text-light &amp;
      History
  .container
    .row
      / Accordian
      .col-md-6.col-sm-6.mb-sm-30
        .accordion
          .accordion-title
            %a{:href => ""} Jan 14, 2008 (Opening)
          .accordion-content
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
          .accordion-title
            %a{:href => ""} FEB 18, 2011 (The best company of the year)
          .accordion-content
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
          .accordion-title
            %a{:href => ""} APR 6, 2013 (Opening
          .accordion-content
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
      / End Accordian
      / Skills
      .col-md-6.col-sm-6
        .skillbar{"data-percent" => "55%"}
          %h6.skillbar-title Design
          .skill-bar-percent 55%
          .skillbar-bar
            .skillbar-bar-child
        .skillbar{"data-percent" => "80%"}
          %h6.skillbar-title Development
          .skill-bar-percent 80%
          .skillbar-bar
            .skillbar-bar-child
        .skillbar{"data-percent" => "40%"}
          %h6.skillbar-title Photography
          .skill-bar-percent 40%
          .skillbar-bar
            .skillbar-bar-child
        .skillbar{"data-percent" => "70%"}
          %h6.skillbar-title Branding
          .skill-bar-percent 70%
          .skillbar-bar
            .skillbar-bar-child
      / End Skills
/ End Accordian & Skills Section