%section#action-box2.action-box.action-black
  .container
    .row.action-box-left
      %h4.action-box-title Powerfull Onepage Multipurpose Responsive Template ?
    .action-box-right
      %a.btn.btn-md.btn-color{:href => "http://google.com/", :target => "_blank"} See More
/ Action Box Section