


/ Client Logo
%section#client.section-padding.white-bg
  .container.text-center
    %h2.page-title
      Happy
      %span.text-light Client
  .container
    .owl-carousel.client-carousel
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/01.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/02.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/03.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/04.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/05.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/06.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/08.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/01.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/02.png")}/
      .item
        .client-logo
          %a{:href => "#"}
            %img{:alt => "", :src => asset_path("logos/03.png")}/
/ End Client Logo