/ Counter Section
%section#counter.section-padding.bg-image.overlay-dark.dark-bg{"data-background-img" => asset_path("full/14.jpg"), "data-stellar-background-ratio" => "0.5"}
  .container.text-center
    .row
      .col-md-3.col-sm-6.mb-sm-30
        .alt-icon-top.counter-icon
          %i.icon.icon-basic-cup
        %h1.counter-title.counter-num 103
        %h5.counter-sub-title Awwards
      .col-md-3.col-sm-6.mb-sm-30
        .alt-icon-top.counter-icon
          %i.icon.icon-basic-heart
        %h1.counter-title.counter-num 256
        %h5.counter-sub-title client
      .col-md-3.col-sm-6.mb-sm-30
        .alt-icon-top.counter-icon
          %i.icon.icon-basic-case
        %h1.counter-title.counter-num 148
        %h5.counter-sub-title Project
      .col-md-3.col-sm-6.mb-sm-30
        .alt-icon-top.counter-icon
          %i.icon.icon-basic-lightbulb
        %h1.counter-title.counter-num 23
        %h5.counter-sub-title Team
/ End Counter Section