%section#intro.intro-fullscreen
  .intro-media.overlay-dark20
  .intro-caption-waper.dark-bg
    .intro-full-height.container
      .intro-content
        .intro-content-inner
          %h1.intro-title.mb-10
            %span.text-light Welcome to

          %h1RennMappe
          %h6.page-title-alt.mb-45 Document your sweet ride
          = link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-white"
          = link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-white"



