/ Portfolio Section
%section#portfolio.section-padding-t.gray-bg
  .container.text-center
    %h2
      Our
      %span.text-light Portfolio
  .container-fluid
    .row
      %ul.portfolio-filter.categories-filter
        %li
          %a.categories.active{"data-filter" => "*"} All
        %li
          %a.categories{"data-filter" => ".branding"} Branding
        %li
          %a.categories{"data-filter" => ".creative"} Creative
        %li
          %a.categories{"data-filter" => ".photography"} Photography
        %li
          %a.categories{"data-filter" => ".coffee"} coffee
    .portfolio-grid-fit.row.gallery-popup
      \-----&gt;
      .portfolio-item.branding.photography.coffee
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/01.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/01.jpg"), :title => "Portfolio Image 01"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/02.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/02.jpg"), :title => "Portfolio Image 02"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.branding.photography
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/03.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/03.jpg"), :title => "Portfolio Image 03"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.creative
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/04.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/04.jpg"), :title => "Portfolio Image 04"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.creative
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/05.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/05.jpg"), :title => "Portfolio Image 05"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.branding.photography
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/02.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/06.jpg"), :title => "Portfolio Image 06"}
                      %i.fa.fa-search

                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.branding.creative.coffee
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/07.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/07.jpg"), :title => "Portfolio Image 07"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
      / ---
      .portfolio-item.photography
        .portfolio-box
          %a.portfolio-image-wrap
            %img{:alt => "", :src => asset_path("portfolio/thumb/08.jpg")}/
          .portfolio-caption
            .portfolio-caption-tb
              .portfolio-caption-tb-cell
                %h5 Digital Camera mockup
                %p Mockup - Photography - Graphic - Branding
                %ul.portfolio-btn-wraper
                  %li
                    %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/08.jpg"), :title => "Portfolio Image 08"}
                      %i.fa.fa-search
                  %li
                    %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                      %i.fa.fa-dribbble
                  %li
                    %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                      %i.fa.fa-pinterest
                  %li
                    %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                      %i.fa.fa-behance
