/ Pricing Table
%section#pricing.section-padding.white-bg
  .container.text-center
    %h2.page-title
      Pricing
      %span.text-light Table
  .container
    .row
      .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
        .pricing-box
          .pricing-title.pricing-padding-t
            %h4 Regular
          .pricing-price.pricing-padding
            %p
              %span.dollar $
              %span.pricing-price-lg 49
              %span.pricing-price-sm / month
          .pricing-features
            %ul
              %li Full Access
              %li
                1 Domain
                %strong Free
              %li Source Files
              %li
                %strong 50 User Accounts
              %li 6 Month License
              %li Premium Support
          .pricing-button.pricing-padding
            %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
              %i.fa.fa-user.left>
              Sign Up
      .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
        .pricing-box.highlight
          .pricing-title.pricing-padding-t
            %h4 Standard
          .pricing-price.pricing-padding
            %p
              %span.dollar $
              %span.pricing-price-lg.color 99
              %span.pricing-price-sm / month
          .pricing-features
            %ul
              %li Full Access
              %li
                10 Domain
                %strong Free
              %li Source Files
              %li
                %strong 500 User Accounts
              %li 6 Month License
              %li Premium Support
          .pricing-button.pricing-padding
            %a.btn.btn-md.btn-color{:href => "http://google.com/", :target => "_blank"}
              %i.fa.fa-user.left>
              Sign Up
      .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
        .pricing-box
          .pricing-title.pricing-padding-t
            %h4 Advanced
          .pricing-price.pricing-padding
            %p
              %span.dollar $
              %span.pricing-price-lg 199
              %span.pricing-price-sm / month
          .pricing-features
            %ul
              %li Full Access
              %li
                100 Domain
                %strong Free
              %li Source Files
              %li
                %strong 5000 User Accounts
              %li 6 Month License
              %li Free Support
          .pricing-button.pricing-padding
            %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
              %i.fa.fa-user.left>
              Sign Up
/ End Pricing Table