

/ Work Process Section
%section#process.section-padding.white-bg
  .container.text-center
    %h2.page-title
      Work
      %span.text-light Process
  .container.text-center
    .row
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step1 - Skype Interview"}
          .process-icon.alt-icon-top
            %i.icon.icon-basic-headset
          %h6 Interview
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step2 - Project Plan"}
          .process-icon.alt-icon-top
            %i.icon.icon-basic-book-pencil
          %h6 Plan
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step3 - Design"}
          .process-icon.alt-icon-top
            %i.icon.icon-basic-picture-multiple
          %h6 Design
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.8s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step4 - Development"}
          .process-icon.alt-icon-top
            %i.icon.icon-basic-gear
          %h6 Development
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step5 - Testing"}
          .process-icon.alt-icon-top
            %i.icon.icon-ecommerce-graph3
          %h6 Testing
      .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "1.2s", "data-wow-duration" => "2s"}
        .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step6 - Delivery"}
          .process-icon.alt-icon-top
            %i.icon.icon-basic-anticlockwise
          %h6 Delivery
/ End Work Process Section