/ Statement1 Section
%section#Statement1.section-padding.bg-image.overlay-dark.dark-bg.text-center{"data-background-img" => asset_path("full/33.jpg"), "data-stellar-background-ratio" => "0.5"}
  .container
    %p.max-width-700.lead Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.
    %a.btn.btn-md.btn-color Download
/ End Statement1 Section