


/ Service Section
%section#service.section-padding.white-bg
  .container.mb-60.text-center
    %h2
      Our
      %span.text-light Service
    %p.max-width-700.large Excepturi Sint Occaecati Cupiditate non Provident voluptate.
  .container
    .row
      .col-md-4.col-sm-6.pt-30.pt-sm-0
        .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
          .icon-right
            %i.icon.icon-basic-display
          %h5.features-title Bootstrap 3
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "4s"}
          .icon-right
            %i.icon.icon-music-play-button
          %h5.features-title html5 &amp; Youtube video
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "6s"}
          .icon-right
            %i.icon.icon-basic-eye
          %h5.features-title Clean code &amp; design
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "8s"}
          .icon-right
            %i.icon.icon-basic-webpage-multiple
          %h5.features-title Unlimited layouts
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
      .col-md-4.hidden-sm.hidden-xs.text-center
        %img{:alt => "", :src => asset_path("mockup02.png")}/
      .col-md-4.col-sm-6.pt-30.pt-sm-0
        .content-box.left.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
          .icon-left
            %i.icon.icon-basic-gear
          %h5.features-title Flexible &amp; Customizable
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.left.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
          .icon-left
            %i.icon.icon-basic-cards-diamonds
          %h5.features-title Multi Concept &amp; Mutli prapose Theme
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.left.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
          .icon-left
            %i.icon.icon-basic-sheet
          %h5.features-title Well Documented
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        .content-box.left.wow.fadeIn{"data-wow-delay" => "0.8s", "data-wow-duration" => "2s"}
          .icon-left
            %i.icon.icon-basic-headset
          %h5.features-title Friendly Support
          %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
/ End Service Section