%li{"data-slide" => "dark-slide"}
  .slide-bg-image.overlay-dark.dark-bg.parallax.parallax-section1{"data-background-img" => image_url("full/18.jpg")}
    .js-Slide-fullscreen-height.container
      .intro-content
        .intro-content-inner

          %h2.h2 Document your car
          %p.lead Because nobody else will
          / %p.lead Making it easier for other mechanics
          %br/
          %div
            %a.btn.btn-md.btn-white-line.xs-hidden Sign up
            %span.btn-space-10.xs-hidden
            %a.btn.btn-md.btn-white-line.xs-hidden Sign in
