%li{"data-slide" => "light-slide"}
  .slide-bg-image.overlay-light.parallax.parallax-section1{"data-background-img" => image_url("Singer-Porsche-53.jpg")}
    .js-Slide-fullscreen-height.container
      .intro-content
        .intro-content-inner
          %h2.h2 For Mechanics

          %br/
          %div
            %a.btn.btn-md.btn-white-line.xs-hidden Sign up
            %span.btn-space-10.xs-hidden
            %a.btn.btn-md.btn-white Sign in
/ Slide
