/ Slide
%li{"data-slide" => "light-slide"}
  .slide-bg-image.overlay-light.parallax.parallax-section1{"data-background-img" => image_url("full/11.jpg")}
    .js-Slide-fullscreen-height.container
      .intro-content
        .intro-content-inner
          %h2.h2 Welcome to Mochil.la
          / %p.lead Car stories
          %br/
          %div
            %a.btn.btn-md.btn-white-line.xs-hidden Sign up
            %span.btn-space-10.xs-hidden
            %a.search-overlay-menu-btn.header-icon
              / %i.fa.fa-search
              %a.search-button.btn.btn-md.btn-white-line search by VIN
          %div
            %ul
              / Search Icon
              / %li
              /   %a.btn.btn-md.btn-white-line Sign up
              / / End Search Icon

