


/ Team Section
%section#team-people.section-padding.white-bg.text-center
  .container
    %h2.page-title
      Our
      %span.text-light Team
  .container
    .row
      / Team Carousel
      .owl-carousel.team-carousel.nf-carousel-theme
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("team/01.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 Mitchell KAPPOS
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 Mitchell KAPPOS
              %p ( Graphic Designer )
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("portfolio/thumb/03.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 Leonardo da Vinci
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 Leonardo da Vinci
              %p ( Front-End Dev )
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("team/07.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 John Doe
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 John Doe
              %p ( Project Manager )
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("team/04.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 Michael Lee
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 Michael Lee
              %p ( Web Developer )
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("team/02.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 Michael Lee
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 Michael Lee
              %p Photographer
        .item
          .team-item
            .team-item-img
              %img{:alt => "", :src => asset_path("team/06.jpg")}/
              .team-item-detail
                .team-item-detail-inner.light-color
                  %h5 Michael Lee
                  %p To portal for some of the world's most high-value net.
                  %ul.social
                    %li
                      %a{:href => "https://www.facebook.com/", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li
                      %a{:href => "https://www.twitter.com/", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li
                      %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                        %i.fa.fa-dribbble
                    %li
                      %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                        %i.fa.fa-pinterest
                    %li
                      %a{:href => "https://www.behance.net/", :target => "_blank"}
                        %i.fa.fa-behance
            .team-item-info
              %h6 Michael Lee
              %p Photographer
      / End Team Carousel -
/ End Team Section