/ Testimonials Section
%section#testimonials.section-padding.bg-image.overlay-dark.dark-bg.text-center{"data-background-img" => asset_path("full/05.jpg"), "data-stellar-background-ratio" => "0.5"}
  .container
    .owl-carousel.testimonial-carousel.nf-carousel-theme.white
      .item
        .testimonial.text-center.max-width-700
          .page-icon-sm
            %i.fa.fa-quote-right
          %p.lead I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising.
          %h6.quote-author
            Jeff Dunham
            %span.text-regular ( Appel Studio )
      .item
        .testimonial.text-center.max-width-700
          .page-icon-sm
            %i.fa.fa-quote-right
          %p.lead you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist.
          %h6.quote-author
            Alexander Theroux
            %span.text-regular ( USA )
      .item
        .testimonial.text-center.max-width-700
          .page-icon-sm
            %i.fa.fa-quote-right
          %p.lead We're not leaving here without Buster, man. Leave no crash-test dummy behind!
          %h6.quote-author
            Adam Savage
            %span.text-regular ( Artist )
/ End Testimonials Section