/ video Section
%section#video-action.section-padding.bg-image.overlay-dark.dark-bg{"data-background-img" => asset_path("full/02.jpg"), "data-stellar-background-ratio" => "0.5"}
  .container.text-center
    .page-icon
      / %a.video-popup.white{:href => "https://www.youtube.com/watch?v=JXOXns_gx8k"}
      /   %i.icon.icon-music-play-button
    %p.max-width-700.lead
      We’re developing a number of special projects if interested,
      %br/
      see the promo video
    %h6.page-title-alt.color.mb-0 See Watch Video
/ End video Section