/ Latest Work Section
%section#latest-work.section-padding.white-bg
  .container.text-center
    %h2.page-title
      Latest
      %span.text-light Work
  .owl-carousel.content-carousel.content-slider
    .item
      .container
        .row
          .col-md-6.mb-sm-30
            %img{:alt => "", :src => asset_path("mockup01.png")}/
          .col-md-5.col-md-offset-1
            %h4.content-title Project name &amp; Title
            %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
            %ul.list-inside
              %li Branding Design
              %li Web Design
            %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
              Visit Site
              %i.fa.fa-external-link.right
    .item
      .container
        .row
          .col-md-5.mb-sm-30
            %h4.content-title Project name &amp; Title
            %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
            %ul.list-inside
              %li Fully Responsive
              %li Web Design
            %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
              Visit Site
              %i.fa.fa-external-link.right
          .col-md-6.col-md-offset-1
            %img{:alt => "", :src => asset_path("mockup01.png")}/
    .item
      .container
        .row
          .col-md-6.mb-sm-30
            %img{:alt => "", :src => asset_path("mockup01.png")}/
          .col-md-5.col-md-offset-1
            %h4.content-title Fully Responsive
            %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
            %p porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet
            .spacer-15
            %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
              Visit Site
              %i.fa.fa-external-link.right
/ End Latest Work Section