#page-wraper
  .wrapper
    = render "static/home/intro"
    / = render "static/home/sign_up"
    %hr/
    / = render "static/home/sign_in"
    / = render "static/home/about"
    / = render "static/home/section"
    / = render "static/home/team"
    / = render "static/home/accordion"
    / = render "static/home/testimonials"
    / = render "static/home/process"
    %hr/
    / # = render "static/home/portfolio"
    / = render "static/home/action_box"
    / = render "static/home/service"
    / = render "static/home/counter"
    / = render "static/home/pricing"
    / = render "static/home/video"
    / = render "static/home/client"
    / %hr/
    / = render "static/home/elements"

    / Map section
    / %section#map.map
    / / End Map section
    / / Contact Info Section
    / %section#contct-info.section-padding.white-bg
    /   .container.text-center
    /     .row
    /       .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
    /         .alt-icon-sm-top
    /           %i.icon.icon-basic-geolocalize-05
    /         %h5.features-title Address
    /         %p
    /           502, DieSachbearbeiter, Schönhauser Allee,
    /           %br/
    /           167c10435 Berlin,Germany.
    /       .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
    /         .alt-icon-sm-top
    /           %i.icon.icon-basic-alarm
    /         %h5.features-title office Hours
    /         %p
    /           Mon - Fri : 8am to 6pm
    /           %br/
    /           Sat : 10am to 2pm
    /       .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
    /         .alt-icon-sm-top
    /           %i.icon.icon-basic-headset
    /         %h5.features-title Contact
    /         %p.contact-link
    /           %a{:href => "mailto:yourname@domain.com"}
    /             %span.text-bold Email :
    /             yourname@domain.com
    /           %br/
    /           %a
    /             %span.text-bold Call :
    /             +40 (0) 012 345 6789
    / / End Contact Info Section
    / / Footer Section
    %footer#footer.footer.section-padding.gray-bg
      .container.text-center
        / Footer Logo
        .footer-logo.mb-25.wow.fadeInUp{"data-wow-duration" => "1.5s"}
          %a.scroll-top{:href => "#intro"}
            %img{:alt => "mazel", :src => asset_path("logo-rennmappe-large.png")}/
        / End Footer Logo
        / Copyright
        %p.copyright.mb-25
          © 2015
          / # = succeed "." do
          %a
            %b RennMappe.de
          %br/
        / Copyright
        / Social
        / %ul.social
        /   %li
        /     %a{:href => "https://www.facebook.com/", :target => "_blank"}
        /       %i.fa.fa-facebook
        /   %li
        /     %a{:href => "https://www.twitter.com/", :target => "_blank"}
        /       %i.fa.fa-twitter
        /   %li
        /     %a{:href => "https://www.linkedin.com/", :target => "_blank"}
        /       %i.fa.fa-linkedin
        /   %li
        /     %a{:href => "https://plus.google.com/", :target => "_blank"}
        /       %i.fa.fa-google-plus


