!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Mazel - Multiprapose Html template
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "nileforest", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    / Favicone Icon
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "img/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "img/favicon.png", :rel => "apple-touch-icon"}/
    / CSS
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/ionicons.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/plugin/sidebar-menu.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/plugin/animate.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
  %body

    .wrapper
      / Header
      %header#header.header
        .container.header-inner
          .logo
            %a{:href => "index.html"}
              %img.logo-light{:alt => "Mazel", :src => "img/logo-white.png"}/
              %img.logo-dark{:alt => "Mazel", :src => "img/logo-black.png"}/
      / CONTENT -------------------------------------------------------------------------------
      / Intro Section
      %section#intro
        / Hero Slider Section

      .clearfix
      / End Intro Section
      / About Section
      %section#about.wow.fadeIn.ptb.ptb-sm-80
        .container
          .row.text-center
            .col-md-8.col-md-offset-2
              %h3.h4 About Studio
              .spacer-15
              %p.lead
                Integer tincidunt Cras dapibus.
                %a.tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Sample Text"}
                  %b Vivamus elementum
                ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.
          .row.mt-80
            / Welcome Content
            .col-md-7.mb-30
              %h4 WE`RE CREATIVE.
              .spacer-15
              %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur?
              .spacer-15
              %a.btn-link-a More About
            / End Welcome Content
            / Skills
            .col-md-5
              .skillbar{"data-percent" => "55%"}
                .skillbar-title Web design
                .skill-bar-percent 55%
                .skillbar-bar
              .skillbar{"data-percent" => "80%"}
                .skillbar-title development
                .skill-bar-percent 80%
                .skillbar-bar
              .skillbar{"data-percent" => "40%"}
                .skillbar-title Photography
                .skill-bar-percent 40%
                .skillbar-bar
              .skillbar{"data-percent" => "70%"}
                .skillbar-title branding
                .skill-bar-percent 70%
                .skillbar-bar
            / End Skills
      / End About Section
      %hr/
      / Service Section
      %section#service.ptb.ptb-sm-80
        .wow.fadeInLeft.container.text-center
          %h3 Our Services
          .spacer-60
          .row
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-ios-compose-outline
              %h5 Web Design
              %p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-ios-gear-outline
              %h5 Development
              %p Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-social-apple-outline
              %h5 Branding
              %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-ios-compose-outline
              %h5 Photography
              %p Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-ios-gear-outline
              %h5 Typography
              %p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.
            .col-md-4.col-sm-6.mb-45
              .page-icon-top
                %i.ion.ion-social-apple-outline
              %h5 Ui Design
              %p Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.
      / End Service Section
      / Counter Section
      %section#counter.overlay-dark80.light-color.ptb-80{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('img/full/23.jpg');"}
        .container.text-center
          .row
            .col-md-3.mb-sm-30
              %h1.counter{"data-count" => "59"} 0
              %h6 awards
            .col-md-3.mb-sm-30
              %h1.counter{"data-count" => "1054"} 0
              %h6 Clients
            .col-md-3.mb-sm-30
              %h1.counter{"data-count" => "34"} 0
              %h6 Team
            .col-md-3.mb-sm-30
              %h1.counter{"data-count" => "154"} 0
              %h6 Project
      / End Counter Section
      / Work Section
      %section#work.wow.fadeIn.pt.pt-sm-80.text-center
        .container
          %h3 Great Work
          .spacer-30
          / work Filter
          .row
            %ul.container-filter.categories-filter
              %li
                %a.categories.active{"data-filter" => "*"} All
              %li
                %a.categories{"data-filter" => ".branding"} Branding
              %li
                %a.categories{"data-filter" => ".design"} Design
              %li
                %a.categories{"data-filter" => ".photo"} Photo
              %li
                %a.categories{"data-filter" => ".coffee"} coffee
          / End work Filter
        / Work Gallary
        .container-fluid
          .row
            .container-grid.nf-col-4
              .nf-item.branding.design.coffee
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/1.jpg", :title => "Consequat massa quis"}
                    %img.item-container{:alt => "1", :src => "img/portfolio/1.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Consequat massa quis
                        %p.white Branding, Design, Coffee
              .nf-item.photo
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/2.jpg", :title => "Vivamus elementum semper"}
                    %img.item-container{:alt => "2", :src => "img/portfolio/2.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Vivamus elementum semper
                        %p.white Photo
              .nf-item.branding.design.coffee
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/3.jpg", :title => "Quisque rutrum"}
                    %img.item-container{:alt => "4", :src => "img/portfolio/3.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Quisque rutrum
                        %p.white Branding, Design, Coffee
              .nf-item.branding.design
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/4.jpg", :title => "Tellus eget condimentum"}
                    %img.item-container{:alt => "4", :src => "img/portfolio/4.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Tellus eget condimentum
                        %p.white Design
              .nf-item.branding.design
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/5.jpg", :title => "Nullam quis ant"}
                    %img.item-container{:alt => "5", :src => "img/portfolio/5.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Nullam quis ant
                        %p.white Branding, Design
              .nf-item.photo
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/6.jpg", :title => "Sed fringilla mauris"}
                    %img.item-container{:alt => "6", :src => "img/portfolio/6.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Sed fringilla mauris
                        %p.white Photo
              .nf-item.design
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/7.jpg", :title => "Augue velit cursus"}
                    %img.item-container{:alt => "7", :src => "img/portfolio/7.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Augue velit cursus
                        %p.white Design
              .nf-item.coffee
                .item-box
                  %a.cbox-gallary1{:href => "img/portfolio/8.jpg", :title => "Donec sodales sagittis"}
                    %img.item-container{:alt => "8", :src => "img/portfolio/8.jpg"}/
                    .item-mask
                      .item-caption
                        %h5.white Donec sodales sagittis
                        %p.white Coffee
        / End Work Gallary
      / End Work Section
      / Action Box Section
      %section#action-box.dark-bg.ptb-60
        .container
          .row
            .col-md-8.col-sm-8
              %h4 Penatibus magnis dis parturient?
              %p.mb-0 Porttitor eu consequat vitae 9hasellus viverra nulla ut metus varius laoreet vitae.
            .col-md-4.col-sm-4
              %a.btn.btn-md.btn-white.float-right.float-none-xs See All Work
      / End Action Box Section
      / Process
      %section#process.ptb.ptb-sm-80
        .wow.fadeInLeft.container.text-center
          %h3 Easy Process
          .spacer-60
          .row
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step1 - Skype Interview"}
                .page-icon-top
                  %i.ion.ion-ios-people-outline
                %h6 Interview
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step2 - Project Plan"}
                .page-icon-top
                  %i.ion.ion-ios-paper-outline
                %h6 Plan
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step3 - Design"}
                .page-icon-top
                  %i.ion.ion-ios-compose-outline
                %h6 Design
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step4 - Development"}
                .page-icon-top
                  %i.ion.ion-ios-gear-outline
                %h6 Development
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step5 - Testing"}
                .page-icon-top
                  %i.ion.ion-ios-pulse
                %h6 Testing
            .col-md-2.col-sm-4.col-xs-6
              .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step6 - Delivery"}
                .page-icon-top
                  %i.ion.ion-ios-clock-outline
                %h6 Delivery
      / End Process
      %hr/
      / Contant Slider Section
      %section#contant.wow.fadeIn.ptb.ptb-sm-80
        .owl-carousel.content-carousel.content-slider
          .item
            .container
              .row
                .col-md-6.mb-sm-30
                  %img{:alt => "", :src => "img/moc-1.png"}/
                .col-md-5.col-md-offset-1
                  %h3 Flexible &amp; Customizable
                  .spacer-15
                  %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                  %p porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet
                  .spacer-15
                  %a.btn.btn-md.btn-black Buy this Theme
          .item
            .container
              .row
                .col-md-5.mb-sm-30
                  %h3 Multipages &amp; Onepage
                  .spacer-15
                  %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                  %p porttitor eu consequat vitae Phasellus viverra nulla.
                  .spacer-15
                  %a.btn.btn-md.btn-black Download Theme
                .col-md-6.col-md-offset-1
                  %img{:alt => "", :src => "img/moc-1.png"}/
          .item
            .container
              .row
                .col-md-6.mb-sm-30
                  %img{:alt => "", :src => "img/moc-2.png"}/
                .col-md-5.col-md-offset-1
                  %h3 Fully Responsive
                  .spacer-15
                  %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                  %p porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet
                  .spacer-15
                  %a.btn.btn-md.btn-black Buy this Theme
      / End Contain Slider Section
      / Testimonials
      %section#testimonial.overlay-dark80.dark-bg.ptb.ptb-sm-80{"data-stellar-background-ratio" => "0.5", :style => "background-image: url('img/full/22.jpg');"}
        .container
          .owl-carousel.testimonial-carousel.nf-carousel-theme.white
            .item
              .testimonial.text-center.dark-color
                .container-icon
                  %i.fa.fa-quote-right
                %p.lead " I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising. I did my first show in the third grade and just kept going. "
                %h6.quote-author
                  Jeff Dunham
                  %span{:style => "font-weight: 400;"} ( Appel Studio )
            .item
              .testimonial.text-center.dark-color
                .container-icon
                  %i.fa.fa-quote-right
                %p.lead " It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "
                %h6.quote-author
                  Alexander Theroux
                  %span{:style => "font-weight: 400;"} ( USA )
            .item
              .testimonial.text-center.dark-color
                .container-icon
                  %i.fa.fa-quote-right
                %p.lead " We're not leaving here without Buster, man. Leave no crash-test dummy behind! "
                %h6.quote-author
                  Adam Savage
                  %span{:style => "font-weight: 400;"} ( Artist )
      / End Testimonials
      / Features
      %section#features.ptb.ptb-sm-80
        .container.text-center
          %h3.mt-sm Key Features
          %p.lead Fully Responsive &amp; Mobile Ready
          .spacer-60
          .row
            .wow.fadeInLeft.col-md-4.pt-80.pt-sm-0
              .features-box-right
                .features-icon-right
                  %i.ion.ion-ios-monitor-outline
                %h5 bootstrap 3
                %p Consectetuer Adipiscing elit Aenean commodo Ligula dolor.
              .features-box-right
                .features-icon-right
                  %i.ion.ion-ios-videocam-outline
                %h5 html 5 video
                %p Nullam dictum felis eu pede mollis pretium leo eget bibendum sodales augue velit cursus.
              .features-box-right
                .features-icon-right
                  %i.ion.ion-ios-barcode-outline
                %h5 Clean code &amp; design
                %p tellus eget condimentum rhoncus sem quam semper libero.
              .features-box-right
                .features-icon-right
                  %i.ion.ion-ios-albums-outline
                %h5 Unlimited layouts
                %p Donec sodales sagittis magna. Sed consequat.
            .wow.fadeIn.col-md-4.hidden-sm.hidden-xs.text-center
              %img{:src => "img/moc-3.png"}/
            .wow.fadeInRight.col-md-4.pt-80.pt-sm-0
              .features-box-left
                .features-icon-left
                  %i.ion.ion-ios-compose-outline
                %h5 Flexible &amp; Customizable
                %p Donec vitae sapien ut libero venenatis faucibus.
              .features-box-left
                .features-icon-left
                  %i.ion.ion-ios-eye-outline
                %h5 Multi Concept &amp; Mutli prapose Theme
                %p Quisque rutrum. Aenean imperdiet Etiam ultricies nisi.
              .features-box-left
                .features-icon-left
                  %i.ion.ion-ios-paper-outline
                %h5 Well Documented
                %p Aenean vulputate eleifend tellus Aenean leo ligula porttitor.
              .features-box-left
                .features-icon-left
                  %i.ion.ion-ios-chatbubble-outline
                %h5 Friendly Support
                %p Phasellus viverra nulla ut metus laoreet Quisque rutrum.
      / End Features
      %hr/
      / Blog Section
      %section#blog.wow.fadeIn.ptb.ptb-sm-80
        .container
          %h3.float-left.float-none-xs Latest Blog
          %a.btn-link-a.float-right.float-none-xs View All
          .clearfix
          .spacer-60
          .row
            .col-lg-4.col-md-6.col-sm-6.mb-sm-30
              .blog-post
                .post-media
                  %video.video{:controls => "controls", :height => "", :poster => "media/echo-hereweare.jpg", :preload => "auto", :style => "width: 100%;", :width => ""}
                    / MP4 source must come first for iOS
                    %source{:src => "media/video1.mp4", :type => "video/mp4"}
                    / WebM for Firefox 4 and Opera
                    %source{:src => "media/video1.webm", :type => "video/webm"}
                    / OGG for Firefox 3
                    %source{:src => "media/video1.ogv", :type => "video/ogg"}
                .post-meta
                  %span
                    by
                    = succeed "," do
                      %a John Doe
                  %span Mar 16, 2015
                .post-header
                  %h5
                    %a{:href => ""} Maecenas nec odio ante varcy
            .col-lg-4.col-md-6.col-sm-6.mb-sm-30
              .blog-post
                .post-media
                  .owl-carousel.item1-carousel.nf-carousel-theme
                    .item
                      %img{:alt => "", :src => "img/full/26.jpg"}/
                    .item
                      %img{:alt => "", :src => "img/full/04.jpg"}/
                    .item
                      %img{:alt => "", :src => "img/full/27.jpg"}/
                .post-meta
                  %span
                    by
                    = succeed "," do
                      %a John Doe
                  %span Feb 24, 2015
                .post-header
                  %h5
                    %a{:href => ""} onec pede justo, fringilla vel
            .col-lg-4.col-md-6.col-sm-6.mb-sm-30
              .blog-post
                .post-media
                  %img.item-container{:alt => "", :src => "img/full/20.jpg"}/
                .post-meta
                  %span
                    by
                    = succeed "," do
                      %a John Doe
                  %span Jan 29, 2015
                .post-header
                  %h5
                    %a{:href => ""} Augue velit cursus nunc
      / End Blog Section
      / Statement Section
      %section#statement.bg-img19.overlay-dark80.dark-bg.ptb.ptb-sm-80
        .container.text-center
          .row
            .col-md-8.col-md-offset-2
              %a.cbox-iframe{:href => "http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&wmode=transparent"}
                .page-icon-top
                  %i.ion.ion-ios-film-outline
              %h4 Pellentesque eu pretium quis adipiscing sem neque sem Nulla consequat massa quis enim?
              .spacer-15
              %a.cbox-iframe.btn.btn-md.btn-white{:href => "http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&wmode=transparent"} Watch Video
      / End Statement Section
      / Shop Item
      %section#shop-item.pt.pt-sm-80
        .container.text-center
          %h3 Latest Product
          .spacer-60
          .row
            .col-md-3.col-sm-6
              .item-box
                / Shop item images
                .shop-item
                  .item-img
                    %img{:src => "img/product/07.jpg"}/
                  .item-mask
                    .item-mask-detail
                      .item-mask-detail-ele
                        %a.btn.btn-line-xs.btn-white-line
                          %i.fa.fa-shopping-cart>
                          Add To Cart
                / End Shop item images
                / Shop item info
                .shop-item-info
                  %a{:href => "shop-detail.html"}
                    %h6.shop-item-name Veritatis et quasi
                  .shop-item-price
                    %span $399.00
                / Shop item info
            .col-md-3.col-sm-6
              .item-box
                / Shop item images
                .shop-item
                  .item-img
                    %img{:src => "img/product/01.jpg"}/
                  .item-mask
                    .item-mask-detail
                      .item-mask-detail-ele
                        %a.btn.btn-line-xs.btn-white-line
                          %i.fa.fa-shopping-cart>
                          Add To Cart
                / End Shop item images
                / Shop item info
                .shop-item-info
                  %a{:href => "shop-detail.html"}
                    %h6.shop-item-name Sed fringilla mauris
                  .shop-item-price
                    %span $399.00
                / Shop item info
            .col-md-3.col-sm-6
              .item-box
                / Shop item images
                .shop-item
                  .item-img
                    %img{:src => "img/product/02.jpg"}/
                  .item-mask
                    .item-mask-detail
                      .item-mask-detail-ele
                        %a.btn.btn-line-xs.btn-white-line
                          %i.fa.fa-shopping-cart>
                          Add To Cart
                / End Shop item images
                / Shop item info
                .shop-item-info
                  %a{:href => "shop-detail.html"}
                    %h6.shop-item-name Beatae vitae dicta
                  .shop-item-price
                    %span $399.00
                / Shop item info
            .col-md-3.col-sm-6
              .item-box
                / Shop item images
                .shop-item
                  .item-img
                    %img{:src => "img/product/03.jpg"}/
                  .item-mask
                    .item-mask-detail
                      .item-mask-detail-ele
                        %a.btn.btn-line-xs.btn-white-line
                          %i.fa.fa-shopping-cart>
                          Add To Cart
                / End Shop item images
                / Shop item info
                .shop-item-info
                  %a{:href => "shop-detail.html"}
                    %h6.shop-item-name Voluptas nulla pariatur
                  .shop-item-price
                    %span $399.00
                / Shop item info
      / End Shop Item
      / Client Logos Section
      %section#client-logos.wow.fadeIn.ptb.ptb-sm-80
        .container
          .owl-carousel.client-carousel.nf-carousel-theme
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/01.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/02.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/03.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/04.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/05.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/06.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/08.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/01.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/02.png"}/
            .item
              .client-logo
                %img{:alt => "", :src => "img/logos/03.png"}/
      / End Client Logos Section
      / END CONTENT --------------------------------------------------------------------------
      / FOOTER
      %footer.footer.pt-80
        .container
          .row.mb-60
            / Logo
            .col-md-3.col-sm-3.col-xs-12.mb-xs-30
              %a.footer-logo{:href => "home.html"}
                %img{:src => "img/logo-black.png"}/
            / Logo
            / Newsletter
            .col-md-4.col-sm-5.col-xs-12.mb-xs-30
              .newsletter
                %form
                  %input.newsletter-input.input-md.newsletter-input.mb-0{:placeholder => "Enter Your Email", :type => "email"}/
                  %button.newsletter-btn.btn.btn-xs.btn-white{:type => "submit", :value => ""}
                    %i.fa.fa-angle-right.mr-0
            / End Newsletter
            / Social
            .col-md-3.col-md-offset-2.col-sm-4.col-xs-12
              %ul.social
                %li
                  %a{:href => "https://www.twitter.com/", :target => "_blank"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "https://instagram.com/", :target => "_blank"}
                    %i.fa.fa-instagram
                %li
                  %a{:href => "https://www.facebook.com/", :target => "_blank"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "https://vimeo.com/", :target => "_blank"}
                    %i.fa.fa-vimeo-square
                %li
                  %a{:href => "https://www.behance.net/", :target => "_blank"}
                    %i.fa.fa-behance
            / End Social
          / Footer Info
          .row.footer-info.mb-60
            .col-md-3.col-sm-12.col-xs-12.mb-sm-30
              %p.mb-xs-0 Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
              %a.btn-link-a{:href => "about-1.html"} Read More
            .col-md-3.col-sm-6.col-xs-12.mb-sm-30.mb-xs-0
              %ul.link
                %li
                  %a{:href => "blog-grid-3col.html"} Blog
                %li
                  %a{:href => "portfolio-grid-3col.html"} Portfolio
                %li
                  %a{:href => "login-register.html"} Login &amp; Signup
                %li
                  %a{:href => "faq-1.html"} FAQ
                %li
                  %a{:href => "about-1.html"} About
                %li
                  %a{:href => "service-1.html"} Service
            .col-md-3.col-sm-6.col-xs-12.mb-sm-30
              %ul.link
                %li
                  %a{:href => "contact-1.html"} Contact Us
                %li
                  %a{:href => "shop-checkout.html"} Shopping Cart
                %li
                  %a{:href => "404-error-1.html"} 404 Error
                %li
                  %a{:href => "home.html"} Home
            .col-md-3.col-sm-12.col-xs-12
              %p 502, DieSachbearbeiter, Schönhauser Allee, 167c10435 Berlin,Germany.
              %ul.link-small
                %li
                  %a{:href => "mailto:yourname@domain.com"}
                    %i.fa.fa-envelope-o.left>
                    yourname@domain.com
                %li
                  %a
                    %i.fa.fa-phone.left>
                    +40 (0) 012 345 6789
          / End Footer Info
        %hr/
        / Copyright Bar
        %section.copyright.ptb-60
          .container
            %p
              © 2015
              = succeed "." do
                %a
                  %b Mazel Template
              %br/
              Template  by
              %a{:href => "http://nileforest.com/", :target => "_blank"}
                %b nileforest
        / End Copyright Bar
      / END FOOTER
      / Scroll Top
      %a.scroll-top
        %i.fa.fa-angle-double-up
      / End Scroll Top
    / Site Wraper End
    / JS
    %script{:src => "js/jquery-1.11.2.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.easing.js", :type => "text/javascript"}
    %script{:src => "js/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.flexslider.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.fitvids.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.viewportchecker.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.stellar.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/wow.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.colorbox-min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/owl.carousel.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/isotope.pkgd.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/masonry.pkgd.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/imagesloaded.pkgd.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/jquery.fs.tipper.min.js", :type => "text/javascript"}
    %script{:src => "js/plugin/mediaelement-and-player.min.js"}
    %script{:src => "js/plugin/sidebar-menu.js", :type => "text/javascript"}
    %script{:src => "js/theme.js", :type => "text/javascript"}
    %script{:src => "js/navigation.js", :type => "text/javascript"}
