%title RennMappe.de -- Document your sweet ride
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "Document your sweet ride", :name => "description"}/
%meta{:content => "Porsche Carrera 911 996 993 997 991 turbo targa cabriolet documentation carfax autocheck", :name => "keywords"}/
%meta{:content => "Fred Schoeneman", :name => "author"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
/[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
/ Favicone Icon
= favicon_link_tag
= favicon_link_tag "favicon.png"
= favicon_link_tag "favicon.png", rel: "apple-touch-icon"

