#header.header
  .header-inner
    .logo
      %a{:href => "#"}
        %img{:src => asset_path("logo-mochilla-white.png")}/
    .nav-menu-icon
      %a
        %i.fa.fa-bars
    .nav-menu.singlepage-nav
      %ul.nav-menu-inner
        %li= link_to "about", "#about"
        %li= link_to "sign up", "#about"
        %li= link_to "sign in", "#about"
