
/ Header
%header#header.header
  .container.header-inner
    / Logo
    .logo
      %a{:href => "index.html"}
        = image_tag "logo-mochilla-white.png", alt: "Mazel", class: "logo-light"
        / %img.logo-light{:alt => "Mazel", :src => "img/logo-white.png"}/
        = image_tag "logo-mochilla-large.png", alt: "Mazel", class: "logo-dark"
        / %img.logo-dark{:alt => "Mazel", :src => "img/logo-black.png"}/
    / End Logo
    / Rightside Menu (Search, Cart, Bart icon)

    / End Rightside Menu
    / Mobile Navbar Icon
    .nav-mobile.nav-bar-icon
      %span
    / End Mobile Navbar Icon
    / Navbar Navigation
    .nav-menu
      %ul.nav-menu-inner
        %li
          = link_to "about"
