- content_for :header do
  = render "header"
- content_for :stylesheets do
  = stylesheet_link_tag "application"
- content_for :javascripts do
  = javascript_include_tag "application"



= render template: "layouts/application"